@model TrashCollection.Models.Pickups

@{
    ViewBag.Title = "Create";
}

<hr/>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PickupId)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.IsCompleted)
    @Html.HiddenFor(model => model.CompleteTime)
    @Html.HiddenFor(model => model.Repeat)
    @Html.HiddenFor(model => model.Zipcode)
    @Html.HiddenFor(model => model.PickupCost)
  
    

 <div class="d-flex flex-column">
     <div class=" d-flex flex-row justify-content-center">

         <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
             <div class="card-header">Pickup for @Html.DisplayFor(model => model.Customer.FullName)</div>
             <div class="card-body">
                 <h4 class="card-title">Pickup created</h4>
                 <p class="card-text">Fee: @Html.DisplayFor(model => model.PickupCost)<br />Address: @Html.DisplayFor(model => model.Customer.Address)</p>
             </div>
         </div>
     </div>
     <div class=" d-flex flex-row justify-content-center">
         <div class="form-group">

             <input type="submit" value="Create" class="btn btn-default btn-lg" />

         </div>&nbsp&nbsp


         @if (User.IsInRole("Customer"))
         {
             @Html.ActionLink("Cancel", "Home", "Customer", new { id = Model.Customer.CustomerId }, new { @class = "btn btn-warning btn-lg" })
         }
         else if (User.IsInRole("Employee"))
         {
             @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btn-lg" })

         }
     </div>
     </div>   
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
