@model IEnumerable<TrashCollection.Models.Pickups>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Customer.Username)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.PickupWeekDay)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.PickupDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Repeat)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.PickupCost)
        </th>

        <th class="text-center">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Customer.Username)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.PickupWeekDay)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.PickupDate)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Zipcode)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Repeat)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.PickupCost)
        </td>
        <td class="text-center">
            <a href="@Url.Action("Edit", "Pickups", new { id = item.PickupId })" class="fas fa-pencil-alt fa-lg "></a>&nbsp; &nbsp;
            <a href="@Url.Action("Details", "Pickups", new { id = item.PickupId })" class="fas fa-address-card fa-lg "></a>&nbsp; &nbsp;
            <a href="@Url.Action("Delete", "Pickups", new { id = item.PickupId })" class="fas fa-trash-alt fa-lg "></a>
        </td>
    </tr>
    }

</table>
