@model TrashCollection.Models.ViewModels.PickupViewModels

@{
    ViewBag.Title = "Home";
}
<br/>
<h2>Welcome @Html.DisplayFor(model => model.Customer.FirstName)!</h2>
<hr/>
<div class="d-flex justify-content-between">
    <div class="d-flex flex-column">


        <div class="card border-dark mb-3 shadow" style="max-width: 20rem;">
            <div class="card-header">
                <h5 class="card-title">My information:</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.DisplayNameFor(model => model.Customer.Username):  @Html.DisplayFor(model => model.Customer.Username)
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.DisplayNameFor(model => model.Customer.FirstName): @Html.DisplayFor(model => model.Customer.FirstName)
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.DisplayNameFor(model => model.Customer.LastName): @Html.DisplayFor(model => model.Customer.LastName)
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.DisplayNameFor(model => model.Customer.Email): @Html.DisplayFor(model => model.Customer.Email)
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.DisplayNameFor(model => model.Customer.Address): @Html.DisplayFor(model => model.Customer.Address)
                        </li>
                    </ul>
                </p>
            </div>

        </div>
    </div>
    <div class="d-flex flex-column">
        @if (Model.Pickup != null)
        {
            <div class="card text-white bg-info mb-3 shadow" style="max-width: 20rem;">
                <div class="card-header">
                    My pickup
                    <div class="float-right">
                        <a href="@Url.Action("Delete", "Pickups", new { id = Model.Pickup.PickupId})" class="fas fa-trash-alt fa-lg"></a>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Trash pickup has been set</h4>
                    <p class="card-text">
                        Pickup day: @Html.DisplayFor(model => model.Pickup.PickupWeekDay)<br />
                        Pickup fee: @Html.DisplayFor(model => model.Pickup.PickupCost)<br />
                        Pickup date: @Html.DisplayFor(model => model.Pickup.PickupDate)<br /><br />
                        @Html.ActionLink("Change Pickup Day", "SetPickupDay", "Pickups", new { id = Model.Pickup.PickupId }, new { @class = "btn btn-secondary btn-block" })
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="card text-white bg-warning mb-3 shadow" style="max-width: 20rem;">
                <div class="card-header">My pickup</div>
                <div class="card-body">
                    <h4 class="card-title">No pickup set</h4>
                    <p class="card-text">Please use the button below to create a pickup and set pickup day<br /><br /> &nbsp @Html.ActionLink("Create Pickup", "Create", "Pickups", new { id = Model.Customer.CustomerId }, new { @class = "btn btn-success btn-md" })</p>
                </div>
            </div>

        }
    </div>
    <div class="d-flex-column">


        @if (Model.Customer.AmountDue > 0)
        {
            <div class="card text-white bg-warning mb-3 shadow" style="max-width: 20rem;">
                <div class="card-header">Billing</div>
                <div class="card-body">
                    <h4 class="card-title">Current Balance: $@Html.DisplayFor(model => model.Customer.AmountDue)</h4>
                    <p class="card-text">Please use the button below to pay for our services @Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-success btn-md" })</p>
                </div>
            </div>
        }
        else
        {
            <div class="card text-white bg-primary mb-3 shadow" style="max-width: 20rem;">
                <div class="card-header">Billing</div>
                <div class="card-body">
                    <h4 class="card-title">You currently owe: $0.00</h4>
                    <p class="card-text">Thank you for doing business with Trash Collection Co</p>
                </div>
            </div>
        }

        @if (Model.OneTimePickup != null)
        {
            <div class="card text-white bg-primary mb-3 shadow" style="max-width: 20rem;">
                <div class="card-header">One time pickup</div>
                <div class="card-body">
                    <h4 class="card-title">Trash pickup has been set</h4>
                    <p class="card-text">
                        Pickup fee: @Html.DisplayFor(model => model.OneTimePickup.PickupCost)<br />
                        Pickup day: @Html.DisplayFor(model => model.OneTimePickup.PickupWeekDay)<br />
                        Pickup date: @Html.DisplayFor(model => model.OneTimePickup.PickupDate)<br /><br />
                        @Html.ActionLink("Cancel", "delete", "Pickups", new { id = Model.OneTimePickup.PickupId }, new { @class = "btn btn-secondary btn-block" })
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="card text-white bg-primary mb-3 shadow" style="max-width: 20rem;">
                <div class="card-header">One time pickup</div>
                <div class="card-body">
                    <h4 class="card-title">No pickup set</h4>
                    <p class="card-text">Use the button below to create a one time pickup <br /><br /> @Html.ActionLink("Create Pickup", "Create", "Pickups", new { id = Model.Customer.CustomerId }, new { @class = "btn btn-success btn-md" })</p>
                </div>
            </div>
        }



    </div>
</div>




